{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5" ng-controller="eventctrl">
                    <div class="card-body p-0" ng-show="showEventList">
                        <div class="row">

                            <div class="col-lg-6 d-none d-lg-block ">
                                Event
                                <br>
                                List Of Events! - <span><a ng-click="eventCreatePage()" >Create</a></span></p>
                            </div>
                            <table class="table table-striped table-bordered table-sm" >
                                <thead>
                                <tr>
                                    <th class="th-sm">Name</th>
                                    <th class="th-sm">Location</th>
                                    <th class="th-sm">Time</th>
                                    <th class="th-sm">Action</th>
                                </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="event in events">
                                        <td>{{ "{{ event.name }" }}} </td>
                                        <td>{{ "{{ event.location }" }}} </td>
                                        <td>{{ "{{ event.date }" }}} </td>
                                        <td class="d-flex">
                                            <span><a  style="margin: .25rem;">Edit</a></span></p>
                                            <span><a  style="margin: .25rem">Delete</a></span></p>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>


                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0" ng-show="showEventCreateUpdate">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block ">
                                Event
                                <br>
                                List Of Events! - <span><a ng-click="eventListPage()">Back</a></span></p>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <form name="eventCreatform" >

                                            <div class="form-group">
                                                <span>Name</span>
                                                <input type="text" name="username" ng-model="eventName"
                                                       placeholder="Event Name" autofocus required>
                                            </div>
                                            <div class="form-group">
                                                <span>Location</span>
                                                <input type="text" name="location" ng-model="location"
                                                       placeholder="Location" required >
                                            </div>
                                            <div class="form-group">
                                                <span>Date</span>
                                                <input type="datetime-local" name="date" ng-model="date" required >

                                            </div>
                                            <button class="btn btn-primary btn-user btn-block"  ng-click="createEvent()" >Create</button>


                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

